header {
  height: 10vh;
  line-height: 10vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  color: white;
  position: relative;
  z-index: 999;

  h1 {
    font-size: 36px;
    font-weight: 800;
    // margin: 0 20px;
    display: inline-block;
    background: linear-gradient(133deg, rgb(255 124 0), #00c3ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    color: #fff;
    margin-left: 30px;
  }

  i {
    position: relative;
    quotes: 40px;
    height: 40px;
    width: 40px;
    padding: 10px;
    text-align: center;
    margin: 0 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .toggle {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header {
    .account {
      display: none;
    }
    ul li {
      margin-top: 30px;
      padding: 0 50px;
    }
    nav {
      .flexSB {
        display: none;
      }

      

      .navMenu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #e50813;
        width: 50%;
        height: 100vh;
        z-index: 999;

      }

      .toggle {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0px;
        margin: auto;
        cursor: pointer;
        background: none;
      }
    }
  }
}